# .dockerignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
new_venv/

*.log
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose*.yml
.pytest_cache/
.coverage
htmlcov/
.DS_Store
*.sqlite3
*.db
README.md
docs/
tests/
.vscode/
.idea/